<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.plwep">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_freakdroid_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PLWEP">
        <activity
            android:name=".Detail1"
            android:theme="@style/Theme.PLWEP.NoActionBar"/>
        <activity
            android:name=".Detail2"
            android:theme="@style/Theme.PLWEP.NoActionBar"/>
        <activity
            android:name=".Detail3"
            android:theme="@style/Theme.PLWEP.NoActionBar"/>
        <activity
            android:name=".Detail4"
            android:theme="@style/Theme.PLWEP.NoActionBar"/>
        <activity
            android:name=".Detail5"
            android:theme="@style/Theme.PLWEP.NoActionBar"/>
        <activity
            android:name=".Detail6"
            android:theme="@style/Theme.PLWEP.NoActionBar"/>

        <activity
            android:name=".Detail"
            android:theme="@style/Theme.PLWEP.NoActionBar" />
        <activity
            android:name=".MenuUtama"
            android:theme="@style/Theme.PLWEP.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.PLWEP.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>